/* CSS Document */

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 15px;

  min-width: 1050px;
  /* 2 x LC width + RC width */
  margin: 0;
  padding: 0;

  color: #888;
  background: url(../img/bg-main.jpg) repeat-x top;
}

.clearer {
  position: relative;

  width: 100%;
  height: 1px;
}

#main {
  position: relative;

  float: left;

  width: 100%;
  height: auto;
}

#container {
  width: 1045px;
  margin: 0 auto;
  padding-top: 210px;
  .column {
    position: relative;
  }
}

#left {
  /* LC width */
  float: left;

  width: 235px;
}

/*** IE6 Fix ***/

* html #left {
  left: 0;
  /* RC width */
}

#header-main {
  position: absolute;
  top: 0;

  width: 100%;
  height: 210px;
}

#header {
  position: relative;

  max-width: 1045px;
  height: 210px;
  margin: 0 auto;

  background: url(../img/bg-header.png) top center no-repeat;
}

#horizontalmenu-bg {
  position: absolute;
  z-index: 99;
  top: 90px;

  width: 100%;
  height: 63px;

  background: url(../img/bg-hormenu.png) repeat-x;
}

#horizontalmenu {
  position: relative;

  max-width: 1045px;
  height: 63px;
  margin: 0 auto;
  ul {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    float: left;

    margin: 0;
    padding: 0;

    list-style: none;

    border-right: 1px #ede4c6 solid;
    border-left: 1px #f9f4e0 solid;
    a {
      display: block;

      height: 36px;
      padding: 8px 17px 5px 17px;
      &:hover {
        display: block;

        height: 36px;
        padding: 8px 17px 5px 17px;

        background: #f6f4f1;
      }
    }
  }
}

#left h3 {
  font-size: 24px;

  margin: 0 0 15px 0;
  padding: 0 0 5px 0;

  color: #666;
  background: url(../img/header-menu-line.png) bottom left no-repeat;
}

span.header_article {
  font-size: 23px;
  font-weight: 600;

  display: block;

  margin: 0 0 15px 0;
  padding: 0 0 5px 0;

  color: #666;
  background: url(../img/header-menu-line.png) bottom left no-repeat;
}

#left {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  li {
    padding: 0 0 10px 0;
    a {
      font-size: 15px;

      padding: 0 0 0 10px;

      text-decoration: none;

      color: #b7157c;
      background: url(../img/list-marker.png) left center no-repeat;
      &:hover {
        text-decoration: underline;

        color: #62932f;
        background: url(../img/list-marker-hover.png) left center no-repeat;
      }
    }
  }
  ul li ul {
    margin: 0 0 0 25px;
  }
  li li {
    padding: 0;
    a {
      font-size: 15px;

      padding: 0 0 0 10px;

      text-decoration: none;

      color: #af6a96;
      background: url(../img/list-list-marker.png) left center no-repeat;
      &:hover {
        text-decoration: underline;

        color: #62932f;
        background: url(../img/list-list-marker-hover.png) left center no-repeat;
      }
    }
  }
}

#content {
  float: right;

  width: 800px;
  padding: 0 0 0 10px;
}

h1 {
  font-size: 13px;
  /*display:inline;*/
  font-weight: 600;

  margin: 0;
  padding: 7px 0 3px 0;
}

p {
  margin: 0;
  padding: 0 0 15px 0;
}

#empty {
  position: relative;

  clear: both;

  width: 100%;
  padding: 0 0 30px 0;
}

#footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;

  position: relative;

  max-width: 1025px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;

  text-align: left;

  opacity: .7;
  color: #505050;
  border-radius: 10px;
  background: #ede4c5;
  p {
    padding: 0 0 5px 0;

    color: #505050;
  }
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;

    color: #505050;
  }
}

#bottom-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;

  width: 100%;
  height: 357px;

  background: url(../img/bottom-bg.png) bottom center no-repeat;
}

#left .moduletable {
  margin-bottom: 20px;
}

#breadcrambs {
  font-size: 12px;
  font-style: italic;

  position: absolute;
  bottom: 20px;
  left: 245px;
}

#shoping-search {
  position: absolute;
  z-index: 99;
  top: 40px;
  right: 0;

  width: 223px;
  input {
    &#jshop_search {
      font-size: 14px;

      padding: 0 0 0 30px;

      color: #b1aeae;
      border: none;
      background: transparent url(../img/bg-search.png) no-repeat;
    }
    &#submit_search {
      position: absolute;
      top: 3px;
      left: 3px;

      cursor: pointer;

      border: none;
      background: transparent url(../img/button-search.png) no-repeat;
    }
  }
}

#logo {
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 0;
  p {
    margin: 0;
    padding: 0 0 6px 0;
    span {
      &.slogan {
        font-size: 16px;

        color: #c7c9ca;
      }
      &.tel {
        font-size: 18px;

        color: #484848;
      }
      &.adres {
        font-family: Georgia;
        font-size: 18px;

        color: #414140;
      }
    }
  }
}

#adress {
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 0;

  width: 370px;
}

#shoping-cart {
  font-size: 14px;

  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;

  width: 160px;
  height: 55px;
  span {
    color: #2b6dbb;
  }
  div {
    &.sh-cart-img {
      position: absolute;
      top: 0;
      right: 0;

      display: block;

      width: 50px;
      height: 55px;
      a.sh-cart-img {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 50px;
        height: 55px;
      }
    }
    &.sh-cart-text {
      float: left;

      width: 120px;
      height: 70px;
      a {
        font-size: 14px;
        font-weight: normal;

        color: #62932f;
      }
    }
  }
}

/*LIGHTBOXES*/

#lightbox {
  padding: 10px;

  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  background-color: #eee;
}

#lightboxDetails {
  font-size: .8em;

  padding-top: .4em;
}

#lightboxCaption {
  float: left;
}

#keyboardMsg {
  float: right;
}

#closeButton {
  top: 5px;
  right: 5px;
}

#lightbox img {
  clear: both;

  border: none;
}

#overlay {
  img {
    border: none;
  }
  /* background-image: url(../images/overlay.png); */
}

/*END LIGHTBOXES*/

.produkt-list,
.category-list {
  position: absolute;
  top: 50px;
}

.rasporka {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;

  position: relative;

  float: left;

  width: 100%;
}

.description {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;

  position: relative;

  float: left;

  width: 100%;
  p {
    padding: 3px 0 2px 0;
  }
}

.green {
  color: #417e04;
}

.red {
  color: #bd0e44;
}

div#width-feedback {
  width: 1045px;
  margin: 0 auto;
}

#bottom1 {
  padding: 15px 0;
  li {
    display: inline;

    padding: 0 5px;

    list-style: none;

    border-right: 1px solid #999;
    &.item-200 {
      border: none;
    }
  }
  a {
    color: #505050;
  }
}

.pagination li {
  display: inline;

  padding: 0 4px;
}

.nav-tov {
  position: relative;

  float: left;

  width: 800px;
  height: 30px;
  margin-bottom: 0;
  padding: 20px 0 0 0;

  border-bottom: 1px solid #ececec;
  span {
    &.prev {
      font-size: 12px;

      float: left;

      width: 45%;

      text-align: left;
      text-decoration: none;

      block: inline;
    }
    &.next {
      font-size: 12px;

      float: right;

      width: 45%;

      text-align: right;
      text-decoration: none;

      block: inline;
    }
    &.prev a,
    &.next a {
      text-decoration: none;
      text-transform: uppercase;

      color: #417e04;
    }
    &.prev a:hover,
    &.next a:hover {
      text-decoration: underline;
      text-transform: uppercase;

      color: #d12392;
    }
  }
}

#advert {
  position: absolute;
  top: -100px;
  right: 380px;

  width: 216px;
  height: 205px;

  background: url(../img/advert-bg.png) no-repeat;
  h3 {
    margin: 0;
    padding: 110px 10px 5px 10px;

    text-align: center;

    color: red;
  }
  span {
    font-size: 12px;

    display: block;

    margin: 0;
    padding: 0 10px;
  }
}

#footer-position {
  position: absolute;
  bottom: 20px;

  width: 100%;
}

#footer {
  font-size: large;
  font-size: 10px;

  position: relative;
  z-index: 9999;

  max-width: 1025px;
  margin: 0 auto;
  padding: .3em 0;
  padding-right: 10px;
  padding-left: 10px;

  text-align: center;
  text-align: left;

  opacity: .7;
  color: #505050;
  border-radius: 10px;
  background: #ede4c5;
  p {
    font-family: Verdana, Geneva, sans-serif;

    padding: 0 0 5px 0;

    color: #505050;
  }
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;

    color: #505050;
  }
}

#bottom-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;

  width: 100%;
  height: 357px;

  background: url(../img/bottom-bg.png) bottom center no-repeat;
}

.description {
  h1,
  h2 {
    font-size: 15px;
    font-weight: 600;

    margin: 0;
    padding: 7px 0 3px 0;
  }
}
